@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("./../icons/style.css");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #112627;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.05rem;
  display: flex;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #20484B;
  margin-bottom: 2rem;
  width: 80%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #20484B;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: #20484B;
  font-weight: 700;
  text-decoration: none;
  transition: all 400ms ease;
}
a:hover {
  color: #256B71;
}

label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

input {
  width: 100%;
  height: 3rem;
  border: 1px solid #20484B;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #112627;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  outline: none;
  background-color: #D9E1E2;
}
input::placeholder {
  font-style: italic;
  color: #256B71;
}

button {
  display: inline-block;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #256B71;
  border: 1px solid #112627;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

header {
  background-color: #D9E1E2;
  width: 15rem;
  padding: 2rem;
  min-height: 100vh;
}
header .logo {
  width: 8rem;
  margin-bottom: 2rem;
}
header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul li {
  margin-bottom: 1rem;
  margin-left: -0.25rem;
}
header nav ul li a {
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  color: #112627;
}
header nav ul li a:hover {
  color: #256B71;
}

main {
  width: calc(100% - 15rem);
  padding: 2rem;
}

form.main-search {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
form.main-search input {
  width: calc(100% - 3rem);
  height: 2.5rem;
  margin-right: 0.5rem;
  border: 1px solid #20484B;
  border-radius: 2px;
  padding-left: 1rem;
  color: #112627;
  font-size: 1.02rem;
  outline: none;
  background-color: #D9E1E2;
}
form.main-search input::placeholder {
  font-style: italic;
  color: #256B71;
}
form.main-search button.btn-search {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #256B71;
  color: #ffffff;
  border: 1px solid #20484B;
  border-radius: 2px;
  font-size: 2.15rem;
  padding: 0;
}
form.main-search button.btn-search:hover {
  background-color: #256B71;
}

div.search-results {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
div.search-results > *:nth-child(1n+0) {
  width: calc(calc(100% - 6rem) / 4);
  margin: 0 2rem 2rem 0;
}
div.search-results > *:nth-child(4n+0) {
  margin-right: 0;
}
div.search-results .album img {
  margin-bottom: 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 2px #112627;
  transition: all 400ms ease;
}
div.search-results .album:hover img {
  transform: scale(1.025) rotate(3deg);
}
div.search-results .album .album-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
}
div.search-results .album .album-artist {
  font-style: italic;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  padding-left: 0.25rem;
}

@media screen and (max-width: 70em) {
  div.search-results {
    display: flex;
    flex-wrap: wrap;
  }
  div.search-results > *:nth-child(1n+0) {
    width: calc(calc(100% - 4rem) / 3);
    margin: 0 2rem 2rem 0;
  }
  div.search-results > *:nth-child(3n+0) {
    margin-right: 0;
  }
}
@media screen and (max-width: 55em) {
  div.search-results {
    display: flex;
    flex-wrap: wrap;
  }
  div.search-results > *:nth-child(1n+0) {
    width: calc(calc(100% - 2rem) / 2);
    margin: 0 2rem 2rem 0;
  }
  div.search-results > *:nth-child(2n+0) {
    margin-right: 0;
  }
}
div.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/records.jpg");
  background-size: cover;
  background-position: center;
}
div.login div.inlog-form {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 3rem 2rem;
  width: 90%;
  max-width: 30rem;
  border-radius: 2px;
}
div.login div.inlog-form .logo {
  width: 90%;
  max-width: 15rem;
  margin: 0 auto 2rem;
}
div.login div.inlog-form form#login {
  width: 100%;
}
div.login div.inlog-form form#login label,
div.login div.inlog-form form#login input {
  display: block;
}
div.login div.inlog-form form#login button {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 3rem;
}

main.album-page .album-cover {
  float: right;
  width: 45%;
}
main.album-page .buttons {
  float: right;
  width: 45%;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  margin-bottom: 1rem;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #20484B;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ffffff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ffffff transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 13px 16px;
  border: 1px solid #112627;
  border-radius: 2px;
  border-color: transparent transparent #112627 transparent;
  cursor: pointer;
  height: 42px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #256B71;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #20484B;
}

div.sort form {
  display: flex;
  margin-bottom: 0.5rem;
}
div.sort form label,
div.sort form div.custom-select {
  margin-right: 1rem;
}
div.sort form label {
  padding-top: 10px;
}

div.message {
  padding: 0.5rem;
  font-style: italic;
  border: 1px solid #112627;
  border-radius: 2px;
  background-color: #bebebe;
}
div.message p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
