<form id="mainform" name="mainform" method="POST" action="lib/save_collection.php">
    <!--security-->
    <input type="hidden" name="csrf" value="%csrf_token%">
    <!--end security-->
    <input type="hidden" id="inh_alb_id" name="inh_alb_id" value="%alb_id%">
    <input type="hidden" id="inh_lis_id" name="inh_lis_id" value="1">
    <input type="hidden" id="art_id" name="art_id" value="%art_id%">


    <button type="submit" class="collection-button">
        Add To Collection
    </button>
</form>
