<form class="add-to wishlist" id="mainform" name="mainform" method="POST" action="lib/save_wishlist.php">
    <!--security-->
    <input type="hidden" name="csrf" value="%csrf_token%">
    <!--end security-->
    <input type="hidden" id="inh_alb_id" name="inh_alb_id" value="%alb_id%">
    <input type="hidden" id="inh_lis_id" name="inh_lis_id" value="2">
    <input type="hidden" id="art_id" name="art_id" value="%art_id%">

    <button type="submit" class="wishlist-button">
        Voeg toe aan mijn wishlist
    </button>
</form>

