<header>
    <img src="./assets/img/crates-logo.svg" alt="" class="logo">
    <nav>
        <ul>
            <li><a href="result.php"><span class='icon-span'><svg class="icon icon-search">
                <use xlink:href="./assets/icons/symbol-defs.svg#icon-search"></use>
            </svg></span>Vind albums</a></li>
            <li><a href="collection.php"><span class='icon-span'><svg class="icon icon-album">
                <use xlink:href="./assets/icons/symbol-defs.svg#icon-album"></use>
            </svg></span>Mijn collectie</a></li>
            <li><a href="wishlist.php"><span class='icon-span'><svg class="icon icon-favorite">
                <use xlink:href="./assets/icons/symbol-defs.svg#icon-favorite"></use>
            </svg></span>Mijn wishlist</a></li>
            <li><a href="update-db.php"><span class='icon-span'><svg class="icon icon-add">
                <use xlink:href="./assets/icons/symbol-defs.svg#icon-add"></use>
            </svg></span>Maak nieuw album</a></li>
            <li><a href="logout.php"><span class='icon-span'><svg class="icon icon-person">
                <use xlink:href="./assets/icons/symbol-defs.svg#icon-person"></use>
            </svg></span>Afmelden</a></li>
            <!--<li><a href="#">Mijn vrienden</a></li>-->
            <!--<li><a href="#">Mijn profiel</a></li>-->
        </ul>
    </nav>
</header>
<main>
