<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>
        <img src=".assets/img/crates.svg" alt="Crates logo">
        <form id="login" name="login" method="POST" action="xxx">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="submit">
                <button type="submit">Inloggen</button>
            </div>
        </form>
    </div>
</body>

</html>