<div class='login'>
    <div class='inlog-form'>
        <img class='logo' src="./assets/img/crates-logo.svg" alt="Crates logo">
        <form id="login" name="login" method="POST" action="./lib/login_check.php">
            <!--security-->
            <input type="hidden" name="csrf" value="%csrf_token%">
            <!--end security-->
            <h2>Log in</h2>
            <div class="form-group">
                <label for="use_email">Email</label>
                <input type="text" name="use_email" id="use_email">
            </div>
            <div class="form-group">
                <label for="use_password">Password</label>
                <input type="password" name="use_password" id="use_password">
            </div>
            <div class="submit">
                <button type="submit">Inloggen</button>
            </div>
        </form>
        <a href="register.php"><span>registreer je hier</span></a>
    </div>
</div>