<!-- Hier komt html template voor update formulier -->


<h1>Update een album</h1>
<form id="updateform" name="updateform" action="./lib/upload_data.php" method="POST" >

    <!-- meta info -->
    <!-- <input type="hidden" id="table" name="table" value="images"> -->
    <!-- <input type="hidden" id="pkey" name="pkey" value="img_id"> -->
    <!-- <input type="hidden" id="afterinsert" name="afterinsert" value="steden.php"> -->
    <!-- <input type="hidden" id="afterupdate" name="afterupdate" value="steden.php"> -->
    <!-- end meta info -->

    <!--security-->
    <input type="hidden" name="csrf" value="%csrf_token%">
    <!--end security-->

    <input type="hidden" name="alb_id" value="%alb_id%">

    <div class="form-group">
        <label for="alb_naam">Albumnaam</label>
        <input type="text" id="alb_naam" name="alb_naam" value="%alb_naam%">
        %alb_naam_error%
    </div>

    <div class="form-group">
        <label for="art_naam">Artiest</label>
        <input type="text" id="art_naam" name="art_naam" value="%art_naam%" list="artists">
        %datalist%
        %art_naam_error%
    </div>

    <div class="form-group">
        <label for="alb_releaseyear">Jaar van uitgave</label>
        <input type="number" id="alb_releaseyear" name="alb_releaseyear" value="%alb_releaseyear%" min="1931" max="%currentYear%" step="1" />
        <!--%art_naam_error%-->
    </div>

    <div class="form-group">
        <label for="alb_genre">Genre</label>
        <div class="custom-select" style="width:100%;">
            %selectGenre%
        </div>
        <!--%art_naam_error%-->
    </div>

    <div>
        <button type='submit'>Update album</button>
    </div>

</form>