<form id="songsform" name="songsform" action="%action%" method="POST" >

    <!--security-->
    <input type="hidden" name="csrf" value="%csrf_token%">
    <!--end security-->

    %songs%

    <!--
    <div class="form-group">
        <label for="son_1">1</label>
        <input type="text" id="son_1" name="son_1" >
    </div>

    <div class="form-group">
        <label for="son_2">2</label>
        <input type="text" id="son_2" name="son_2" >
    </div>

    <div class="form-group">
        <label for="son_3">3</label>
        <input type="text" id="son_3" name="son_3" >
    </div>

    <div class="form-group">
        <label for="son_4">4</label>
        <input type="text" id="son_4" name="son_4" >
    </div>

    <div class="form-group">
        <label for="son_5">5</label>
        <input type="text" id="son_5" name="son_5" >
    </div>

    <div class="form-group">
        <label for="son_6">6</label>
        <input type="text" id="son_6" name="son_6" >
    </div>

    <div class="form-group">
        <label for="son_7">7</label>
        <input type="text" id="son_7" name="son_7" >
    </div>

    <div class="form-group">
        <label for="son_8">8</label>
        <input type="text" id="son_8" name="son_8" >
    </div>

    <div class="form-group">
        <label for="son_9">9</label>
        <input type="text" id="son_9" name="son_9" >
    </div>

    <div class="form-group">
        <label for="son_10">10</label>
        <input type="text" id="son_10" name="son_10" >
    </div>

    <div class="form-group">
        <label for="son_11">11</label>
        <input type="text" id="son_11" name="son_11" >
    </div>

    <div class="form-group">
        <label for="son_12">12</label>
        <input type="text" id="son_12" name="son_12" >
    </div>

    <div class="form-group">
        <label for="son_13">13</label>
        <input type="text" id="son_13" name="son_13" >
    </div>

    <div class="form-group">
        <label for="son_14">14</label>
        <input type="text" id="son_14" name="son_14" >
    </div>

    <div class="form-group">
        <label for="son_15">15</label>
        <input type="text" id="son_15" name="son_15" >
    </div>
-->


    <div>
        <button type='submit'>Voeg nummers toe</button>
    </div>
</form>
<a href="%return%">Ga terug naar de albumpagina</a>