<!-- Hier komt html template voor update formulier -->


    <h1>Upload een album</h1>
    <form id="updateform" name="updateform" action="./lib/upload.php" method="POST" enctype="multipart/form-data">


        <!--security-->
        <input type="hidden" name="csrf" value="%csrf_token%">
        <!--end security-->

        <div class="form-group">
            <label for="alb_naam">Albumnaam</label>
            <input type="text" id="alb_naam" name="alb_naam">
            %alb_naam_error%
        </div>

        <div class="form-group">
            <label for="art_naam">Artiest</label>
            <input type="text" id="art_naam" name="art_naam" list="artists">
            %datalist%
            %art_naam_error%
        </div>

        <div class="form-group">
            <label for="alb_releaseyear">Jaar van uitgave</label>
            <input type="number" id="alb_releaseyear" name="alb_releaseyear" min="1931" max="%currentYear%" step="1" value="%currentYear%"/>
        </div>

        <div class="form-group">
            <label for="alb_genre">Genre</label>
            <div class="custom-select" style="width:100%;">
                %selectGenre%
            </div>
        </div>

        <div class="form-group">
            <input type="file" id="alb_img" name="alb_img" class="fileupload" data-multiple-caption="{count} files selected">
            <label for="alb_img">
                <span>Kies albumcover</span>
                <span class='icon-span-cloud_upload'>
                    <svg class="icon icon-cloud_upload">
                        <use xlink:href="./assets/icons/symbol-defs.svg#icon-cloud_upload"></use>
                    </svg>
                </span>
            </label>
        </div>

        <div>
            <button type='submit'>Maak album aan</button>
        </div>

    </form>