
 
        <h1>Resultaat: %ZOEKTERM%</h1>
        <div class="sort">
            <label for="sorting">Sorteer op : </label>
            <select name="sorting" id="sorting">
                <option value="">albumnaam</option>
                <option value="">artiestnaam</option>
                <option value="">populariteit</option>
                <option value="">quotering</option>
            </select>
        </div>
        <div class="search-results">
            %searchresult%
        </div>
