<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crates</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <header>
        <img src="./assets/img/crates-logo.svg" alt="" class="logo">
        <nav>
            <ul>
                <li><a href="result.php">Vind platen</a></li>
                <li><a href="collection.php">Mijn collectie</a></li>
                <li><a href="wishlist.php">Mijn wishlist</a></li>
                <li><a href="#">Mijn vrienden</a></li>
                <li><a href="#">Mijn profiel</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="result.php" method="get" class="main-search">
            <input type="text" name="search" placeholder="Zoek een album">
            <button type="submit" class="btn-search">
                <svg class="icon icon-search">
                    <use xlink:href="./assets/icons/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
        </form>
        <h1>Resultaat: %ZOEKTERM%</h1>
        <div class="sort">
            <label for="sorting">Sorteer op : </label>
            <select name="sorting" id="sorting">
                <option value="">albumnaam</option>
                <option value="">artiestnaam</option>
                <option value="">populariteit</option>
                <option value="">quotering</option>
            </select>
        </div>
        <div class="search-results">
            %searchresult%
        </div>
    </main>