<div class="rating">
    <div class="star">
        <svg class="icon icon-star">
            <use xlink:href="./assets/icons/symbol-defs.svg#icon-star"></use>
        </svg>
    </div>
    <div class="star">
        <svg class="icon icon-star">
            <use xlink:href="./assets/icons/symbol-defs.svg#icon-star"></use>
        </svg>
    </div>
    <div class="star">
        <svg class="icon icon-star">
            <use xlink:href="./assets/icons/symbol-defs.svg#icon-star"></use>
        </svg>
    </div>
    <div class="star">
        <svg class="icon icon-star">
            <use xlink:href="./assets/icons/symbol-defs.svg#icon-star"></use>
        </svg>
    </div>
    <div class="star">
        <svg class="icon icon-star_outline">
            <use xlink:href="./assets/icons/symbol-defs.svg#icon-star_outline"></use>
        </svg>
    </div>
</div>