@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;
@import "./../../icons/style.css";

body {
  background-color: $white;
  color: $clr1;
  font-family: $sourcesans;
  font-size: 1.05rem;
  display: flex;
}

// Typography

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $clr2;
  margin-bottom: 2rem;
  width: 80%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: $clr2;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: $clr3;
  font-weight: 700;
}

// form elements
label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;

}
input {
  width: 100%;
  height: 3rem;
  border: 1px solid $clr2;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $clr1;
  font-size: 1.25rem;
  outline: none;
  background-color: $clr4;
  &::placeholder {
    font-style: italic;
    color: $clr3;
  }
}
button {
  display: inline-block;
  margin-bottom: 1rem;
  color: $white;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  background-color: $clr3;
  border: 1px solid $clr1;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// Header
header {
  background-color: $clr4;
  width: 15rem;
  padding: 2rem;
  min-height: 100vh;
  .logo {
    width: 8rem;
    margin-bottom: 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 1rem;
      margin-left: -0.25rem;
      a {
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.25rem;
        color: $clr1;
        &:hover {
          color: $clr3;
        }
      }
    }
  }
}

// main
main {
  width: calc(100% - 15rem);
  padding: 2rem;
}

// search
form.main-search {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  input {
    width: calc(100% - 3rem);
    height: 2.5rem;
    margin-right: 0.5rem;
    border: 1px solid $clr2;
    border-radius: 2px;
    padding-left: 1rem;
    color: $clr1;
    font-size: 1.02rem;
    outline: none;
    background-color: $clr4;
    &::placeholder {
      font-style: italic;
      color: $clr3;
    }
  }
  button.btn-search {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr3;
    color: $white;
    border: 1px solid $clr2;
    border-radius: 2px;
    font-size: 2rem;
    &:hover {
      background-color: $clr3;
    }
  }
}

// search results
div.search-results {
  display: flex;
  flex-wrap: wrap;
  @include make-col(3, 2rem);
  .album a {
    text-decoration: none;
    color: $clr2;
    &:hover {
      color: $clr3;
    }
    img {
      margin-bottom: 0.5rem;
      border-radius: 2px;
      box-shadow: 0 1px 2px $clr1;
    }
    .album-title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.25rem;
      padding-left: 0.25rem;
    }
    .album-artist {
      font-style: italic;
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
      padding-left: 0.25rem;
    }
  }
}

// inlog form / index
div.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/records.jpg");
  background-size: cover;
  background-position: center;
  div.inlog-form {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 3rem 2rem;
    width: 90%;
    max-width: 30rem;
    .logo {
      width: 90%;
      max-width: 15rem;
      margin: 0 auto 2rem;
    }
    form#login {
      width: 100%;
      label,
      input {
        display: block;
      }
      button {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 3rem;
      }
    }
  }
}

// album page
main.album-page {
  .album-cover{
    float: right;
    width: 45%;
  }
  .buttons {
    float: right;
    width: 45%;
  }
}
