@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;
@import url("./../icons/style.css");

body {
  background-color: $white;
  color: $clr1;
  font-family: $sourcesans;
  font-size: 1.05rem;
  display: flex;
}

.hidden {
  display: none;
}

// Typography

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $clr2;
  margin-bottom: 2rem;
  width: 80%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: $clr2;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: $clr2;
  font-weight: 700;
  text-decoration: none;
  transition: all 400ms ease;
  &:hover {
    color: $clr3;
  }
}

.icon-span {
  display: inline-block;
  margin-right: 0.5rem;
}

// form elements
label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}
input {
  width: 100%;
  height: 3rem;
  border: 1px solid $clr2;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $clr1;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  outline: none;
  background-color: $clr4;
  &::placeholder {
    font-style: italic;
    color: $clr3;
  }
}
button {
  display: inline-block;
  margin-bottom: 1rem;
  color: $white;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  background-color: $clr3;
  border: 1px solid $clr1;
  border-radius: 2px;
  padding: 0.5rem 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input.fileupload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + label {
    color: $clr2;
    background-color: $clr4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid $clr3;
    border-radius: 2px;
    .icon-span-cloud_upload {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}

// Header
header {
  background-color: $clr4;
  width: 15rem;
  padding: 2rem;
  min-height: 100vh;
  .logo {
    width: 8rem;
    margin-bottom: 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 1rem;
      margin-left: -0.25rem;
      a {
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.25rem;
        color: $clr1;
        &:hover {
          color: $clr3;
        }
      }
    }
  }
}

// main
main {
  width: calc(100% - 15rem);
  padding: 2rem;
}

// search
form.main-search {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  input {
    width: calc(100% - 3rem);
    height: 2.5rem;
    margin-right: 0.5rem;
    border: 1px solid $clr2;
    border-radius: 2px;
    padding-left: 1rem;
    color: $clr1;
    font-size: 1.02rem;
    outline: none;
    background-color: $clr4;
    &::placeholder {
      font-style: italic;
      color: $clr3;
    }
  }
  button.btn-search {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr3;
    color: $white;
    border: 1px solid $clr2;
    border-radius: 2px;
    font-size: 2rem;
    padding: 0;
    &:hover {
      background-color: $clr3;
    }
  }
}

// search results
div.search-results {
  display: flex;
  flex-wrap: wrap;
  @include make-col(4, 2rem);
  .album {
    img {
      margin-bottom: 1rem;
      border-radius: 2px;
      box-shadow: 0 1px 2px $clr1;
      transition: all 400ms ease;
    }
    &:hover img {
      transform: scale(1.025) rotate(3deg);
    }
    .album-title {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 0.25rem;
      padding-left: 0.25rem;
    }
    .album-artist {
      font-style: italic;
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
      padding-left: 0.25rem;
    }
  }
}

@media screen and (max-width: 70em) {
  div.search-results {
    @include make-col(3, 2rem);
  }
}

@media screen and (max-width: 55em) {
  div.search-results {
    @include make-col(2, 2rem);
  }
}

// inlog form / index
div.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/records.jpg");
  background-size: cover;
  background-position: center;
  div.inlog-form {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 3rem 2rem;
    width: 90%;
    max-width: 30rem;
    border-radius: 2px;
    .logo {
      width: 90%;
      max-width: 15rem;
      margin: 0 auto 2rem;
    }
    form#login {
      width: 100%;
      label,
      input {
        display: block;
      }
      button {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 3rem;
      }
    }
  }
}

// album page
main.album-page {
  .album-cover {
    float: right;
    width: 45%;
  }
  .buttons {
    float: right;
    width: 45%;
  }
}

// Custom Select
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  margin-bottom: 1rem;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: $clr2;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $white transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $white transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 13px 16px;
  border: 1px solid $clr1;
  border-radius: 2px;
  border-color: transparent transparent $clr1 transparent;
  cursor: pointer;
  height: 42px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: $clr3;
  //top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: $clr2;
}

div.sort form {
  display: flex;
  margin-bottom: 0.5rem;
  label,
  div.custom-select {
    margin-right: 1rem;
  }
  label {
    padding-top: 10px;
  }
}

// Messages
div.message {
  padding: 0.5rem 1rem;

  font-style: italic;
  border: 1px solid $clr1;
  border-radius: 2px;
  background-color: $lightgrey;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span.icon-span {
    width: 2rem;
    font-size: 2.5rem;
  }
  p {
    width: calc(100% - 4rem);
    font-size: 1.25rem;
    margin: 0;
  }
}

// album page
.album-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  .album-head-img {
    width: 45%;
    margin-left: auto;
    position: relative;
    img {
      box-shadow: 0 1px 2px #112627;
      margin-bottom: 0.5rem;
    }
    a.new-img-link {
      color: $white;
      background-color: $clr3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $clr2;
      border-radius: 50%;
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      right: -0.5rem;
    }
  }
  .album-head-info {
    width: 45%;
    margin-right: auto;
    margin-top: 0.5rem;
    .album-title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .album-artist {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .album-genre {
      font-weight: 400;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 0.05;
      color: $clr2;
      margin-bottom: 2rem;
    }
    .buttons {
      margin-top: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .add-to {
        width: 45%;
      }
      h4 {
        font-weight: 400;
        font-style: italic;
        font-size: 1.25rem;
      }
      .delete-from {
        width: 100%;
        margin-top: 1rem;
        button {
          background: none;
          border: none;
          color: $clr3;
          padding: 0.5rem 0;
          font-size: 1rem;
        }
      }
    }
  }
}

.album-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  > div {
    width: 45%;
    font-size: 1rem;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.25rem;
    }
  }
  .comments .rating {
    margin-bottom: 1rem;
    .star {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $clr3;
      margin-right: 0.75rem;
      font-size: 2rem;
    }
  }
  .songs ol {
    list-style: decimal-leading-zero;
    font-style: italic;
    padding-left: 1.5rem;
    margin: 1rem 0;
    li {
      margin-bottom: 0.25rem;
    }
  }
}

.album-footer .andere_albums {
  display: flex;
  flex-wrap: wrap;
  @include make-col(4, 2rem);

  .album-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
  }
  .album {
    img {
      margin-bottom: 1rem;
      border-radius: 2px;
      box-shadow: 0 1px 2px $clr1;
      transition: all 400ms ease;
    }
    &:hover img {
      transform: scale(1.025) rotate(3deg);
    }
  }
}

// songsform
form#songsform div.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    width: 1.5rem;
    text-align: right;
    padding-bottom: 0.5rem;
  }
  input {
    width: calc(100% - 2.5rem);
  }
}

// RESPONSIVE
span.icon-span-clear,
span.icon-span-menu {
  display: none;
  color: $clr2;
}

@media screen and (max-width: 55em) {
  body {
    flex-direction: column;
    header {
      position: absolute;
      width: 100vw;
      z-index: 100;
      box-shadow: 0 1px 2px #112627;
      min-height: unset;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img.logo {
        margin-bottom: 0;
        display: inline-block;
      }
      nav {
        display: none;
        margin-top: 2rem;
        margin-bottom: -1rem;
        width: 100%;
      }
      span.icon-span-clear,
      span.icon-span-menu {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    main {
      margin-top: 7rem;
      width: 100%;
    }
  }

  .album-head {
    flex-direction: column;
    .album-head-img {
      width: 100%;
    }
    .album-head-info {
      width: 100%;
    }
  }
  .album-body {
    flex-direction: column;
    > div {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .album-footer .andere_albums {
    @include make-col(2, 2rem);
  }
}
